.form-group {
    display: flex;
    padding-right: 80px;
    position: relative;
}

.form-group .form-field-icon {
    flex: 0 0 50px;
}

.form-field-icon mat-icon {
    margin-top: 20px;
}

.form-group .form-field-group {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 calc(100% - 50px);
}

.form-group mat-form-field {
    flex: 0 0 calc(50% - 10px);
    padding: 5px;
}

.form-group mat-form-field.w-100 {
    flex: 0 0 calc(100% - 10px);
}

.icon-btn {
    margin-top: 15px;
}