.navigation-links {
    list-style: none;
    padding: 0;
}

.navigation-links .btn-icon {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    color: #4a6292;
}

.navigation-links .btn-icon:hover {
    color: #2A3F54;
}

.header > h3 {
    margin-right: 15px;
}

.btn-icon {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    color: #4a6292;
}

.btn-icon:hover {
    color: #2A3F54;
}
