.mat-list-item-content {
    width: 100%;
    text-align: left;
}

.mat-list-item-content:hover {
    background-color: #e8eaf6;
    cursor: pointer;
}

.mat-button-wrapper mat-checkbox {
    /* margin-right: 15px; */
}

.contact-info-wrapper > .contact-info {
    color: rgba(0,0,0,0.87);
    font-size: .7rem;
}

.contact-info-wrapper > .contact-info > mat-icon {
    margin-right: 5px;
}