<mat-card class="example-card" color="primary">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Contacts (470)</mat-card-title>
    <!-- <mat-card-subtitle fxHide fxHide.gt-xs="false" fxLayout="row">Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-list class="contact-list">
      <!-- <h3 mat-subheader>Folders</h3> -->
      <mat-list-item>
        <div class="mat-list-item-content" fxLayout="column" fxLayout.gt-sm="row">
            <mat-checkbox fxFlex="28px" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="center" color="primary"></mat-checkbox> 
            <span fxFlex="100" fxFlex.gt-sm="30">Jacob</span>
            <div class="contact-info-wrapper" fxFlex fxLayout="column" fxLayout.gt-sm="row">
              <span class="contact-info" fxLayoutAlign="start center" fxFlex>
                <mat-icon class="md-18">smartphone</mat-icon>
                <span>0197765290</span>
              </span>
              <span class="contact-info" fxLayoutAlign="start center" fxFlex>
                <mat-icon class="md-18">email</mat-icon>
                <span>zhangen69@gmail.com</span>
              </span>
            </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <!-- <mat-card-actions>
  </mat-card-actions> -->
</mat-card>